doctype html
html
  head 
    title Test site for toggl-track-api
    script(type='module' src='./app.js')
  body
    h1 
      | Test site for 
      code toggl-track-api
    button#start Go
    p#status Emitter messages will appear here